.categories {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 12px;
    background-color: #fff;
    color: #333;
    font-family: RingsideRegular-Book,sans-serif;
    line-height: 1.42857143;
}

.categories li {
    font-weight: 500;
    letter-spacing: -1px;
    box-shadow: inset 0 -5px 0 0 transparent;
    height: 34px;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
    width: 120px;
    font-weight: 600;
    margin-bottom: 5px;
}

.categories .active {
    border-bottom: 5px solid black;
    margin-right: 30px;
    margin-bottom: 0px;
    width: 92px;
    font-weight: 700px;
}

.banner {
    width: 100%;
    height: 188px;
    background-image: url("https://stockx-assets.imgix.net/CSAssets/banner/1UKCOLLECTIBLESRatedRookiesEUROS/Euro-2021-Rated-Rookies_WebBanner-EN.png?auto=compress,format");
    background-repeat: no-repeat;
    background-size: cover;
}